<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CotoFnF</title>
    <link rel="icon" href="/img/logo/CotoFnF_logo_nobackground.svg" type="image/svg">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="row bg_0">
        <div class="container row h_center main_header">
            <div class="row w_33">
                <div class="row main_logo h_center">
                    <a class="row h_center" href="#"><img src="/img/logo/CotoFnF_logo_nobackground.svg" alt="CotoFnF Logo" srcset="" style="height: 2rem;"></a>
                </div>
                <div class="row h_center">
                    <a class="a" href="#">
                        <h1 class="h_1">
                            oto<span class="bold">FnF</span>
                        </h1>
                    </a>
                </div>
            </div>
            <div class="row w_33 h_center">
                <nav class="row main_nav w_100">
                    <ul class="row h_center w_100 nav_group">
                        <li class="nav_li">
                            <a class="nav_a" href="">Features</a>
                        </li>
                        <li class="nav_li">
                            <a class="nav_a" href="">Wait List</a>
                        </li>
                        <li class="nav_li">
                            <a class="nav_a" href="">Support</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row w_33 h_center w_end">
                <a class="btn btn_0" href="">Dashboard</a>
            </div>
        </div>
    </header>
    <main>
        <div class="section_0 row bg_1">
            <div class="container_three_js row main_section_0 h_center">
                <div class="col w_50 h_end">
                    <div class="col w_60 w_start">
                        <p class="p_0">The All In One Family.</p>
                        <h2 class="h_2">Coto<span class="bold" id="auto-writer"></span><span class="cursor">&nbsp;</span></h2>
                        <div class="row h_center">
                            <a class="btn btn_1" href="">Wait List</a>
                        </div>
                    </div>
                </div>
                <div class="col w_50 w_center canvas-element bg_2">
                    <canvas class="webgl"></canvas>
                </div>
            </div>
        </div>
    <div class="bg_1">
        <div class="section_1">
            <div class="container row">
                <div class="col w_100">
                    
                </div>
            </div>
        </div>
    </div>
    </main>
    <footer>

    </footer>
    <script src="/js/main.js"></script>
    <script type="module" src="/js/threejs.js"></script>
</body>
</html>